<mat-toolbar color="primary">
    <img class="company-logo" src="../../assets/image//company-logo-13.png" alt="Photo of a Shiba Inu">
    <span class="example-spacer"></span>
    <mat-label>Welcome {{userName}}</mat-label>
</mat-toolbar>
<div class="main-div">
    <div class="sub-main">
        <div class="div-left-child-class">
            <app-product-list (productIdParent)="productIdParentChange($event)"></app-product-list>
        </div>
        <div class="div-right-child-class">
            <mat-card>
                <mat-card-content>
                    <form [formGroup]="productForm">
                        <h2>
                            PRODUCT
                        </h2>

                        <mat-form-field class="full-width-input">
                            <input matInput placeholder="Title" formControlName="title" required>
                            <mat-error>
                                Please provide a valid title
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="full-width-input">

                            <textarea matInput placeholder="Body" formControlName="body" required></textarea>
                            <mat-error>
                                Please provide a valid password
                            </mat-error>
                        </mat-form-field>
                        <div class="div-button">
                            <button mat-mini-fab color="primary" class="div-button" (click)="clearField()">
                                <mat-icon>add</mat-icon>
                            </button>
                            <button mat-raised-button color="primary" class="div-button" (click)="save()">Save</button>
                            <button mat-raised-button color="primary" class="div-button"
                                (click)="update()">Update</button>
                            <button mat-raised-button color="primary" class="div-button"
                                (click)="delete()">Delete</button>

                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<mat-toolbar color="primary">Footer
</mat-toolbar>