.sub-main {
    display: flex;
    width: 100%;
}
.div-left-child-class {
    float: left;
    width: 30%;
    overflow: scroll;
    height: 100em;
    border-right: 1px solid gray;
}
.div-right-child-class {
    /* float: left; */
    width: 60%;
    float: left;
}
