<!-- <p>
    Option selected: {{shoes.selectedOptions.selected[0]?.value}}
</p> -->
<!-- <mat-selection-list #shoes [multiple]="false">
    <mat-list-option *ngFor="let productList of productLists | async;let i = index" [value]="productList.id "
        (click)="displayProductDetails(productList)">
        {{productList.title}}
        <mat-icon>keyboard_arrow_right</mat-icon>
    </mat-list-option>
</mat-selection-list> -->


<div class="product-list">
    <div class="item item-title" *ngFor="let productList of productLists | async;let i = index"
        (click)="displayProductDetails(productList)">
        {{productList.title}}
        <!-- <span class="item-title"> {{productList.title}} </span> -->
        <!-- <span class="item-icon"> > </span> -->
    </div>
</div>